<% html_title l(:label_administration), l("label_group_new") %>
<%= toolbar title: "#{link_to_project_settings(@project)} &raquo; #{l(:label_group_plural)} &raquo; #{l(:label_group_new)}" %>

<%= labelled_tabular_form_for(@project_group) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div><%= f.button l(:button_create), class: 'button -highlight -with-icon icon-yes' %></div>
<% end %>
